<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>944564058193-aqq8noh1uh58kn3uncl6rhnm51mp4gpk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.944564058193-aqq8noh1uh58kn3uncl6rhnm51mp4gpk</string>
	<key>API_KEY</key>
	<string>AIzaSyD7uarf_rHcnDrwA_M_UtRI0QIUS222sq8</string>
	<key>GCM_SENDER_ID</key>
	<string>944564058193</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ihapp</string>
	<key>PROJECT_ID</key>
	<string>ihapp-183f6</string>
	<key>STORAGE_BUCKET</key>
	<string>ihapp-183f6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:944564058193:ios:fb7ee277a08dbd9aeca070</string>
</dict>
</plist>